<h1>
    <a href="/">返回</a>
    &nbsp;&nbsp;&nbsp;&nbsp;设置界面
</h1>
<div class="content">
    
    <button (click)="changeTheme(this.theme.themes.dark)"> 
        黑色主题
    </button>
    <h1></h1>
    <button (click)="changeTheme(this.theme.themes.light)">
        亮色主题
    </button>
    <h1></h1>
    <button (click)="changeTheme(this.theme.themes.contrast)">
        常用主题
    </button>
    <h1></h1>
    <pre>
        文字效果展示



        雨晴烟晚。绿水新池满。
        双燕飞来垂柳院,小阁画帘高卷。
        黄昏独倚朱阑。西南新月眉弯。
        砌下落花风起，罗衣特地春寒。
    </pre>
</div>
