$light: #ccc;
$dark: #0c0b0b;
//定义 整套颜色

// 主题1  对比色
$contrast_color: white;//字体颜色
$contrast_main: #4abdac;//主要颜色，如背景色
$contrast_gray: #e5e3e8;//
$contrast_orange: #fc4a1a;//
$contrast_yellow: #f7b733;//

// 主题2  清爽色
$light_color: #a9a9a9;//字体颜色
$light_main: #caebf2;//主要颜色，如背景色
$light_gray: #efefef;//
$light_orange: #fe5751;//
$light_yellow: #f08769;//

// 主题3  暗色
$dark_color: white;//字体颜色
$dark_main: #192231;//主要颜色，如背景色
$dark_gray: #98878f;//
$dark_orange: #985e6d;//
$dark_yellow: #494e68;//

